<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/assets/main.css"/>
    <title>{page.title}</title>
</head>
<body id="body">
<div class="wrapper">
    {page.description}
    <form method="post" action="{page.resource}" enctype="text/plain">
        <p><textarea textarea="" rows="30" style="width: 100%;" name="xml" autofocus></textarea></p>
        <p><input type="submit" value="{page.buttonLabel}"></p>
    </form>
</div>
<footer class="footer">
    Source Code <a href="https://github.com/pro-crafting/xmlpretty">Available on GitHub</a>
</footer>
</body>
</html>